*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color:black;
}

#btn{
   background-color:#ecb3bd;
   border: 1px solid #fffefe;
   border-radius: 5px;
   width: 130px;
   padding:  20px 30px;
   text-decoration: none;
   font-size: 20px;
   font-family:sans-serif;
   font-weight: 600;   
   position: relative; 
   overflow: hidden;
}

#btn span{
    position: relative;
    z-index: 1;
    color: black;
}

#btn::before{
    content: "";
    position: absolute;
    background-color: orangered;
    height: 0px;
    width: 0px;
    left: var(--xPos);
    top: var(--yPos);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width 0.5s, height 0.5s;

}

#btn:hover::before{
    height: 300px;
    width: 300px;
   
}